# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when run with the -o flag
*.out

# Go workspace file
go.work

# DreamFS builds
dreamfs-*

# Gemini CLI internal directory
.gemini/tmp
session_state
.gemini
indexer.db
.env
wiki/

.gemini-cache/
